PDGA_S3_BUCKET=
PDGA_DDB_TABLE=
PDGA_DDB_STATUS_END_DATE_GSI=gsi_status_end_date

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ATHENA_DATABASE=pdga_analytics
ATHENA_WORKGROUP=pdga-analytics
ATHENA_RESULTS_S3_URI=
ATHENA_SOURCE_SCORED_TABLE=scored_rounds
ATHENA_REPORTING_BASE_TABLE=reporting_base_rounds


PIPELINE_IMAGE_TAG=latest
PIPELINE_LOG_LEVEL=INFO
PIPELINE_SCHEDULE_EXPRESSION=cron(0 7 * * ? *)