# secrets
.env
*.pem
*.key

# python
__pycache__/
*.pyc
.venv/
venv/
.envrc

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# logs / artifacts
*.log

# build artifacts
dist/
build/
*.egg-info/
.pytest_cache/

# docker
*.tar
AGENTS.md
*.vscode

# local exports
wind_impact_analysis/notebook_exports/
wind_impact_analysis/catboost_info/

infra_cdk/cdk.out/
infra_cdk/cdk.context.json